$mainBackgroundColor: #f7f7f7;
$accentColor: #ff4848;
$backgroundColor: rgba(0,0,0, 0.15);
$textPrimaryColor: #0d0d0d;
$textSecondaryColor: #4040;
$textPrimaryColorLight: #ffffff;
$techChipBackgroundColor: #ffffff;

$hoverOpacity: 0.8;