$mainBackgroundColor: #fffffffa;
$accentColor: #ff4848;
$backgroundColor: rgba(0,0,0, 0.15);
$textPrimaryColor: #0d0d0d;
$textSecondaryColor: #404040;
$textPrimaryColorLight: #ffffff;
$techChipBackgroundColor: #ffffff;

$blackColor: #000000;

$hoverOpacity: 0.8;